{% include 'header.html' %}
<header class="masthead" style="background-image: url('https://www.volvocars.com/images/v/-/media/market-assets/australia/applications/localpages/images/model-lineup/my24-xc40-recharge-single.png?h=1007&iar=0&w=1342'), linear-gradient(to bottom, rgba(101, 14, 14, 0.8) 0%, rgba(144, 4, 51, 0.8) 100%);">
   <div class="container px-4 px-lg-5 h-100">
     <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
       <div class="col-lg-8 align-self-end">
         <h1 class="text-white font-weight-bold">About us</h1>
         <hr class="divider" style="background-color: white;color: white;"/>
       </div>
       <div class="col-lg-8 align-self-baseline">
         <p class="text-white mb-5">Founded in March 15, 2018, SKLP Car Rental has become a trusted name in car rental services. We are dedicated to providing high-quality vehicles at affordable rates, ensuring that our clients enjoy a seamless and comfortable experience. </p>
       </div>
     </div>
   </div>
 </header>
 <section class="page-section bg-primary" id="about">
   <div class="container px-4 px-lg-5">
   <div class="row gx-4 gx-lg-5 justify-content-center">
     <div class="col-lg-8 text-center">
       <h2 class="text-white mt-0">Mission</h2>
       <hr class="divider divider-light" />
       <p class="text-white-75 mb-4">SKLP Car Rental is dedicated to enhancing travel experiences through convenience and reliability. Our mission is to provide seamless and stress-free car rental services that empower our customers to explore destinations with ease. We are committed to delivering exceptional customer service, ensuring that every journey with us is memorable and hassle-free.</p>
     </div>
   </div>
 </section>
 <section class="page-section" id="services">
   <div class="container px-4 px-lg-5">
   <div class="row gx-4 gx-lg-5 justify-content-center">
     <div class="col-lg-8 text-center">
       <h2 class="text-dark mt-0">Vision</h2>
       <hr class="divider divider-light" />
       <p class="text-dark-75 mb-4">  At SKLP Car Rental, we envision  transforming the car rental industry by raising the bar for safety, convenience, and sustainability. Aiming to become the most trusted and innovative car rental provider globally, known for delivering an exceptional customer experience and offering a diverse fleet that caters to every journey. We aim to set the standard for future transportation solutions by competently combining modern technology with environmentally responsible techniques. Our vision is to strive to make every car rental a stress-free, memorable experience, and to establish SKLP as the name for reliability and excellence.</p>
     </div>
   </div>
 </section>
 <hr>
{% include 'footer.html' %}