{% include 'header.html' %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
       <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
             <h1 class="text-white font-weight-bold">Rent the Ride, Own the Experience.</h1>
             <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
             <p class="text-white-75 mb-5">Experience the highest quality and comfort with our top-tier rental cars, ensuring you drive the best and leave the rest behind.</p>
          </div>
       </div>
    </div>
 </header>
 <!-- About-->
 <section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
       <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
             <h2 class="text-white mt-0">We've got what you need!</h2>
             <hr class="divider divider-light" />
             <p class="text-white-75 mb-4">Whether you need a van, sedan, AUV, SUV, or truck, our company provides a wide range of high-quality rental vehicles at reasonable prices to meet all your transportation needs.</p>
             <a class="btn btn-light btn-xl" href="{{ url_for('car_list') }}">Rent Now!</a>
          </div>
    </div>
 </section>
 <!-- Services-->
 <section class="page-section" id="services">
    <div class="container px-3 px-lg-5">
       <h2 class="text-center mt-0">At Your Service</h2>
       <hr class="divider" />
       <div class="row gx-4 gx-lg-5">
          <div class="col-lg-3 col-md-6 text-center">
             <div class="mt-5">
                <div class="mb-2"><i class="fa-car fa-solid fs-1 text-primary"></i></div>
                <h3 class="h4 mb-2">Variety of Vehicles</h3>
                <p class="text-muted mb-0">Rent vans, sedans, AUVs, SUVs, and trucks for any occasion.</p>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
             <div class="mt-5">
                <div class="mb-2"><i class="fa-percent fa-solid fs-1 text-primary"></i></div>
                <h3 class="h4 mb-2">Affordable Rates</h3>
                <p class="text-muted mb-0">Quality vehicles at competitive prices.</p>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
             <div class="mt-5">
                <div class="mb-2"><i class="fa-solid fa-paperclip fs-1 text-primary"></i></div>
                <h3 class="h4 mb-2">Flexible Plans</h3>
                <p class="text-muted mb-0">Rent by the day, week, or longer—whatever you need.</p>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
             <div class="mt-5">
                <div class="mb-2"><i class="fa-solid fa-user fs-1 text-primary"></i></div>
                <h3 class="h4 mb-2">Reliable Assistance</h3>
                <p class="text-muted mb-0">Get help from our support team during business hours.</p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Portfolio-->
 <div id="portfolio">
    <div class="container-fluid p-0">
       <div class="row g-0">
          <div class="col-lg-4 col-sm-6">
             <a class="portfolio-box" href="{{url_for('static', filename='img/portfolio/fullsize/1.jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" title="Project Name">
                <img class="img-fluid" src="{{url_for('static', filename='img/portfolio/thumbnails/1.jpg')}}" alt="..." />
                <div class="portfolio-box-caption">
                   <div class="project-category text-white-50">Category</div>
                   <div class="project-name">Project Name</div>
                </div>
             </a>
          </div>
          <div class="col-lg-4 col-sm-6">
             <a class="portfolio-box" href="{{url_for('static', filename='img/portfolio/fullsize/2.jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" title="Project Name">
                <img class="img-fluid" src="{{url_for('static', filename='img/portfolio/thumbnails/2.jpg')}}" alt="..." />
                <div class="portfolio-box-caption">
                   <div class="project-category text-white-50">Category</div>
                   <div class="project-name">Project Name</div>
                </div>
             </a>
          </div>
          <div class="col-lg-4 col-sm-6">
             <a class="portfolio-box" href="{{url_for('static', filename='img/portfolio/fullsize/3.jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" title="Project Name">
                <img class="img-fluid" src="{{url_for('static', filename='img/portfolio/thumbnails/3.jpg')}}" alt="..." />
                <div class="portfolio-box-caption">
                   <div class="project-category text-white-50">Category</div>
                   <div class="project-name">Project Name</div>
                </div>
             </a>
          </div>
          <div class="col-lg-4 col-sm-6">
             <a class="portfolio-box" href="{{url_for('static', filename='img/portfolio/fullsize/4.jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" title="Project Name">
                <img class="img-fluid" src="{{url_for('static', filename='img/portfolio/thumbnails/4.jpg')}}" alt="..." />
                <div class="portfolio-box-caption">
                   <div class="project-category text-white-50">Category</div>
                   <div class="project-name">Project Name</div>
                </div>
             </a>
          </div>
          <div class="col-lg-4 col-sm-6">
             <a class="portfolio-box" href="{{url_for('static', filename='img/portfolio/fullsize/5.jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" title="Project Name">
                <img class="img-fluid" src="{{url_for('static', filename='img/portfolio/thumbnails/5.jpg')}}" alt="..." />
                <div class="portfolio-box-caption">
                   <div class="project-category text-white-50">Category</div>
                   <div class="project-name">Project Name</div>
                </div>
             </a>
          </div>
          <div class="col-lg-4 col-sm-6">
             <a class="portfolio-box" href="{{url_for('static', filename='img/portfolio/fullsize/6.jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" title="Project Name">
                <img class="img-fluid" src="{{url_for('static', filename='img/portfolio/thumbnails/6.jpg')}}" alt="..." />
                <div class="portfolio-box-caption p-3">
                   <div class="project-category text-white-50">Category</div>
                   <div class="project-name">Project Name</div>
                </div>
             </a>
          </div>
       </div>
    </div>
 </div>
 {% if request.args.get('success') %}
    <script>
        alert("You have successfully sent your concern, please wait for the reply!");
    </script>
 {% endif %}
 {% include 'footer.html' %}

